## getProfilesWithSkill - request mapping
{
  "version": "2018-05-29",
  "operation": "Query",
  "index":"ID-index",
  "limit": 100, ##$util.toJson($limit),
  "nextToken": $util.toJson($ctx.args.nextToken),
  "query" : {
    "expression": "#ID = :ID",
    "expressionNames" : {
      "#ID": "ID"
    },
    "expressionValues" : {
      ":ID": $util.dynamodb.toStringJson(${ctx.args.ID})
    }
  }
}
