#set($expression="#ProfileID = :ProfileID")
#set($expressionNames={"#ProfileID": "ProfileID"})
#set($expressionValues={":ProfileID" : $util.dynamodb.toDynamoDB($ctx.args.ProfileID)})
## if the selectionSetList does not contain the items, we fetch only the order
#if(!$ctx.info.selectionSetList.contains("skills"))
  #set($expression=$expression + " and #ID = :ID")
  $util.qr($expressionNames.put("#ID", "ID"))
  $util.qr($expressionValues.put(":ID", $util.dynamodb.toDynamoDB($context.args.ProfileID)))
#end
{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
      "expression": "$expression",
      "expressionNames": $util.toJson($expressionNames),
      "expressionValues": $util.toJson($expressionValues)
    }
}
